/* common CSS */
:root {
  --color-primary: #e90024;
}

li {
  list-style: none;
}

ul {
  padding-left: 0px;
}

/* nav bar  */

.navbar {
  padding-top: 50px;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
}

.navbar-nav {
  gap: 74px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--color-primary);
}

.icons {
  display: flex;
  gap: 20px;
}
.icons img {
  height: 24px;
  width: 24px;
}

.btn-danger {
  padding: 16px 42px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background-color: var(--color-primary);
}

.btn-danger {
  color: white;
}

/* Banner part */

.container h1 {
  width: 624px;
  padding-top: 145px;
  font-size: 65px;
  font-weight: 600;
}
.container h1 span {
  font-size: 65px;
  font-weight: 800;
  color: var(--color-primary);
}

.container p {
  padding-top: 19px;
  line-height: 26px;
}

/* counder part */

h2 {
  font-size: 45px;
  font-weight: 700;
}
.my-150 {
  margin: 150px 0px;
}

.counter {
  padding: 95px 118px;
  background-color: #f4f4f4;
  border-radius: 30px;
  position: relative;
}
.vector-img {
  position: absolute;
  left: -36px;
  bottom: -22px;
  z-index: -1;
}

.sec-head {
  text-align: center;
  width: 751px;
  margin: auto;
  margin-bottom: 56px;
}

.instra-work-content {
  width: 424px;
  border-radius: 30px;
  box-shadow: 0px 15px 50px 0px #00000015;
  padding: 82px 60px 89px 60px;
}
h3 {
  font-size: 25;
  font-weight: 600;
}
.instra-work-content h3 {
  padding: 42px 0px 30px 0px;
}

/* video part */

.video-BG {
  background-image: url(../img/video.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 326px 655px 308px 620px;
  border-radius: 30px;
}
.video {
  height: 183px;
  width: 183px;
  border-radius: 50%;
  background-color: #e900231c;
  animation: animate-pulse 3s linear;
  cursor: pointer;
}
@keyframes animate-pulse {
  0% {
    box-shadow:
      0 0 0 0 rgba(255, 74, 74, 0.7),
      0 0 0 0 rgba(255, 74, 74, 0.7);
  }
  40% {
    box-shadow:
      0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 0 rgba(255, 74, 74, 0.7);
  }
  80% {
    box-shadow:
      0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow:
      0 0 0 0 rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
  }
}

/* pump insta */

#pump-insta {
  padding: 150px 0px;
  background-color: #f4f4f4;
}

#pump-insta .instra-work-content {
  height: 505px;
  padding: 67px 50px;
}

/* purchas-part */
#Purchase {
  position: relative;
}

.purchase-content {
  padding: 65px 90px;
  box-shadow: 0px 15px 50px 0px #00000015;
  border-radius: 30px;
  text-align: center;
}
.purchase-content h4 {
  padding: 11px 68px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-primary);
  background-color: #e9002328;
}
.purchase-content h3 {
  font-size: 25px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 30px;
}
.purchase-content ul li {
  font-size: 16px;
  line-height: 40px;
}
.purchase-content ul li i {
  padding-right: 10px;
}

.purchase-content h2 {
  padding: 40px 0px 50px 0px;
}

.purchase-content .btn-danger {
  background-color: transparent;
  border: 1px solid;
  color: var(--color-primary);
}
.purchase-content .btn-danger:hover {
  background-color: var(--color-primary);
  color: white;
}

#Purchase .dots {
  position: absolute;
  top: 0px;
  right: 143px;
}

/* ratigs-part */
.ratigs {
  width: 424px;
 
  box-shadow: 0px 15px 50px 0px #00000015;
  border-radius: 30px;
  padding: 41px 42px 25px 42px;
}

.rating-comment {
  padding: 36px 54px;
  border-radius: 10px;
  background-color: #f4f4f4;
}
.rating-comment p {
  margin-top: 20px;
  line-height: 26px;
  color: #787878;
}

.for-i {
  margin-top: 20px;
}


/* accordian-part */


.accordion-header {
  padding: 38px 37px;
  border-radius: 20px;
    font-size: 20px;
    font-weight:600;
}
.accordion-button:not(.collapsed) {
    color: #ff0000;
    background-color: transparent;
  }
  .accordion-button:focus {
  
    box-shadow:0px 0px 0px 0px;
}

.accordion-button::after {

    background-image: url(../img/Vector\ \(2\).png);
   
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/Frame\ \(5\).png);
    
}
.accordion-item {
    border-radius: 20px !important;
    margin-top: 20px;
    border: 1px solid  #E8E8E8 !important;

}
.accordion-body {
padding: 15px 32px 38px 32px;
}

/* footer-part */

#fotter{
  background-color: #F4F4F4;
  padding: 150px 0px;
}
.f-s img{
padding-bottom: 30px;
}
.f-s p{
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 20px;
}
.f-m h4{
padding-bottom: 42px;
font-size: 20px;
font-weight: 600;
}
.f-m ul li{
  font-size: 16px;
  line-height: 26px;
}
.f-e h4{
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 42px;
}
.f-e p{
  line-height: 26px;
  font-size: 16px;
  padding-bottom: 20px;
}


#fotter .Form input{
  padding: 15px 98px 15px 18px;
}
#fotter .Form button{
 padding: 15px 17px;
 border-radius: 10px;
 font-size: 16px;
 font-weight: 500;
 line-height: 26px;
}
